 body {
     font-family: monospace, sans-serif;
     background-color: whitesmoke;
     font-size: 1em;
 }

 nav ul {
     text-align: right;
 }

 nav ul li {
     display: inline-block;
     list-style-type: none;
     padding: 10px;
     font-size: 1.5em;
 }

 nav ul li a {
     text-decoration: none;
 }
div h2{
    font-size: 1.5rem;
}
 div h2 {
     font-weight: bold;
     color: brown;
 }
 div h3{
     font-style: italic;
     color: blue;
 }

 #domestication div:nth-of-type(1) {
     text-align: center;
 }

 footer {
     color: black;
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     background-color: antiquewhite;
     padding: 10px;
     margin: 20px;
 }

 footer div {
     flex: 1 100px;
     justify-content: space-around;
     text-align: justify;
 }

 footer div.moreInformation {
     display: inline-grid;
 }

 footer .author {
     list-style: none;
 }

 footer a:link {
     color: inherit;
     text-decoration: none;

 }